APP_NAME=SEIEM Filiacion OCR
APP_ENV=local
APP_HOST=127.0.0.1
APP_PORT=8000

DATABASE_URL=mysql+pymysql://seiem_app:CAMBIA_ESTA_CONTRASENA@127.0.0.1:3306/seiem_filiacion?charset=utf8mb4

UPLOAD_DIR=uploads
MAX_UPLOAD_MB=15
TESSERACT_CMD=C:\Users\UsuarioGEM\AppData\Local\Tesseract-OCR\tesseract.exe
OPERATOR_USERNAME=operador
OPERATOR_PASSWORD=cambia-esta-contrasena
OPERATOR_TOKEN=dev-operator-token
FILIACION_TEMPLATE_PATH=C:\Users\UsuarioGEM\Downloads\Plantilla_filiacion.xlsx
EXPORT_DIR=exports
